.bg-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/public/images/title.png") no-repeat center;
  background-size: cover;
}
.logo {
  width: 350px;
  height: 150px;
  background: url("/public//images/logo.svg") no-repeat center;
  background-size: contain;
}

.box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  opacity: 0.8;
  min-height: 100vh;
  color: white;
}


.input-title {
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: #f2f2f2;
  color: #333333;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #333333;
}

.input-title:hover {
  background-color: #eaeaea;
}

.button-submit {
  margin-top: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #4caf50;
  color: white;
  border-radius: 8px;
  padding: 8px 20px;
  margin-top: 4px;
}

.button-submit:hover {
  background-color: #45a049;
}
.button-submit:active {
  background-color: #3e8e41;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
